<%=content_for :title, 'Griffith' %>

<h1> Welcome to Griffith </h1>

<p>Study at Griffith College – Dublin, Cork and Limerick</p>

<%= image_tag "GCD.jpg", :height => 127, :width => 212 =%>

<%= link_to 'Courses', courses_path() %> <%= link_to 'Location', locations_path() %> <%= link_to 'Home', root_path() %> <%= link_to 'Contacts', contacts_path() %> <%= link_to 'About Us', about_path() %> 


