<div id="topNav">
  <%= link_to 'Courses', courses_path(), {:class=>"nav"} %>
  <%= link_to 'Location', locations_path(), {:class=>"nav"} %>
  <%= link_to 'Home', root_path(), {:class=>"nav"} %> 
  <%= link_to 'Contacts', contacts_path(), {:class=>"nav"} %>
  <%= link_to 'About Us', about_path(), {:class=>"nav"} %> 
</div>